@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,.10196078431372549);
    border-right: 1px solid rgba(0,0,0,.10196078431372549);
    border-top: 1px solid rgba(0,0,0,.10196078431372549);
    border-bottom: 1px solid rgba(0,0,0,.10196078431372549);
    display: flex;
    margin-left: 16px;
    margin-top: 10px;
    width: 347px;
    height: 496px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 247px;
    margin-top: 10px;
    width: 81px;
    height: 14px;
    align-items: stretch
  }
  .style3 {
    background-color: #024e5b;
    display: flex;
    margin-left: 0;
    width: 14px;
    align-items: stretch;
    flex-direction: column
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tunn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 7px
  }
  .style5 {
    color: rgba(0,0,0,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: .5em;
    margin-left: 5px
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 29px;
    width: 249px;
    height: 134px;
    align-items: flex-end;
    align-self: center
  }
  .style15 {
    background-color: #c0d5e7;
    margin-left: 0;
    width: 26px;
    height: 100%
  }
  .style13,
  .style14,
  .style16 {
    background-color: #5870d6;
    margin-left: 2px;
    width: 26px;
    height: 101px
  }
  .style13,
  .style14 {
    background-color: #c0d5e7;
    margin-left: 43px
  }
  .style14 {
    background-color: #5870d6;
    margin-left: 2px;
    height: 100%
  }
  .style11,
  .style12 {
    background-color: #c0d5e7;
    margin-left: 44px;
    width: 26px;
    height: 116px
  }
  .style11 {
    background-color: #354590;
    margin-left: 2px;
    height: 87px
  }
  .iphone6781container0row3,
  .style2 {
    position: relative;
    align-self: center
  }
  .style2 {
    background-color: #dcdde1;
    margin-top: 0;
    width: 307px;
    height: 1px
  }
  .iphone6781container0row3 {
    display: flex;
    margin-top: 2px;
    width: 295px;
    height: 9px;
    align-items: stretch
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tv58.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 0;
    width: 5px;
    flex-shrink: 0
  }
  .style6,
  .style7,
  .style8 {
    color: rgba(34,34,34,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: .4375em;
    letter-spacing: -50px;
    margin-left: 41px;
    flex-shrink: 0
  }
  .style7,
  .style8 {
    margin-left: 91px
  }
  .style8 {
    margin-left: 96px
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tvm3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 45px;
    width: 5px;
    flex-shrink: 0
  }
  .style1 {
    background-color: #d5d5d5;
    margin-top: 50px;
    width: 257px;
    height: 1px;
    align-self: center
  }
  .style17 {
    color: rgba(0,0,0,.4000000059604645);
    font-family: segoeui,serif;
    font-size: .5625em;
    margin-left: 38px;
    margin-top: 33px;
    height: 10px
  }
  .iphone6781container0row6 {
    display: flex;
    margin-top: 22px;
    width: 278px;
    height: 162px;
    align-items: stretch;
    align-self: center
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46txij.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 14px
  }
  .style18 {
    background-color: #f5f6fb;
    border-left: 1px solid #dcdde1;
    border-right: 1px solid #dcdde1;
    border-top: 1px solid #dcdde1;
    border-bottom: 1px solid #dcdde1;
    display: flex;
    margin-left: 10px;
    width: 254px;
    align-items: stretch;
    flex-direction: column
  }
  .style19,
  .style21 {
    background-color: #dcdde1;
    margin-top: 30px;
    height: 1px
  }
  .style23,
  .style24 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style24 {
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46twkk.png);
    margin-top: 23px;
    height: 40px
  }
  .style23 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tw3r.png);
    margin-top: 5px;
    height: 30px
  }
  .style22 {
    background-color: #dcdde1;
    margin-top: 2px;
    width: 100%;
    height: 1px
  }
  .style25 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tx17.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 2px;
    width: 186px;
    height: 20px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #354590;
    border-right: 1px solid #354590;
    border-top: 1px solid #354590;
    border-bottom: 1px solid #354590;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    width: 6px;
    height: 6px;
    flex-shrink: 0
  }
  .style20 {
    background-color: #dcdde1;
    margin-top: 3px;
    height: 1px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,.10196078431372549);
    border-right: 1px solid rgba(0,0,0,.10196078431372549);
    border-top: 1px solid rgba(0,0,0,.10196078431372549);
    border-bottom: 1px solid rgba(0,0,0,.10196078431372549);
    display: flex;
    margin-left: 33px;
    margin-top: 20px;
    width: 711px;
    height: 1016px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 506px;
    margin-top: 20px;
    width: 166px;
    height: 29px;
    align-items: stretch
  }
  .style3 {
    background-color: #024e5b;
    display: flex;
    margin-left: 0;
    width: 29px;
    align-items: stretch;
    flex-direction: column
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tunn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 14px
  }
  .style5 {
    color: rgba(0,0,0,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: 1.024em;
    margin-left: 10px
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 59px;
    width: 510px;
    height: 274px;
    align-items: flex-end;
    align-self: center
  }
  .style15 {
    background-color: #c0d5e7;
    margin-left: 0;
    width: 53px;
    height: 100%
  }
  .style13,
  .style14,
  .style16 {
    background-color: #5870d6;
    margin-left: 4px;
    width: 53px;
    height: 207px
  }
  .style13,
  .style14 {
    background-color: #c0d5e7;
    margin-left: 88px
  }
  .style14 {
    background-color: #5870d6;
    margin-left: 4px;
    height: 100%
  }
  .style11,
  .style12 {
    background-color: #c0d5e7;
    margin-left: 90px;
    width: 53px;
    height: 238px
  }
  .style11 {
    background-color: #354590;
    margin-left: 4px;
    height: 178px
  }
  .iphone6781container0row3,
  .style2 {
    position: relative;
    align-self: center
  }
  .style2 {
    background-color: #dcdde1;
    margin-top: 0;
    width: 629px;
    height: 2px
  }
  .iphone6781container0row3 {
    display: flex;
    margin-top: 4px;
    width: 604px;
    height: 18px;
    align-items: stretch
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tv58.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 0;
    width: 10px;
    flex-shrink: 0
  }
  .style6,
  .style7,
  .style8 {
    color: rgba(34,34,34,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: .896em;
    letter-spacing: -102px;
    margin-left: 84px;
    flex-shrink: 0
  }
  .style7,
  .style8 {
    margin-left: 186px
  }
  .style8 {
    margin-left: 197px
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tvm3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 92px;
    width: 10px;
    flex-shrink: 0
  }
  .style1 {
    background-color: #d5d5d5;
    margin-top: 102px;
    width: 526px;
    height: 2px;
    align-self: center
  }
  .style17 {
    color: rgba(0,0,0,.4000000059604645);
    font-family: segoeui,serif;
    font-size: 1.1520000000000001em;
    margin-left: 78px;
    margin-top: 68px;
    height: 20px
  }
  .iphone6781container0row6 {
    display: flex;
    margin-top: 45px;
    width: 569px;
    height: 332px;
    align-items: stretch;
    align-self: center
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46txij.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 29px
  }
  .style18 {
    background-color: #f5f6fb;
    border-left: 1px solid #dcdde1;
    border-right: 1px solid #dcdde1;
    border-top: 1px solid #dcdde1;
    border-bottom: 1px solid #dcdde1;
    display: flex;
    margin-left: 20px;
    width: 520px;
    align-items: stretch;
    flex-direction: column
  }
  .style19,
  .style21 {
    background-color: #dcdde1;
    margin-top: 61px;
    height: 2px
  }
  .style23,
  .style24 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style24 {
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46twkk.png);
    margin-top: 47px;
    height: 82px
  }
  .style23 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tw3r.png);
    margin-top: 10px;
    height: 61px
  }
  .style22 {
    background-color: #dcdde1;
    margin-top: 4px;
    width: 100%;
    height: 2px
  }
  .style25 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tx17.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 4px;
    width: 381px;
    height: 41px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #354590;
    border-right: 1px solid #354590;
    border-top: 1px solid #354590;
    border-bottom: 1px solid #354590;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    width: 12px;
    height: 12px;
    flex-shrink: 0
  }
  .style20 {
    background-color: #dcdde1;
    margin-top: 6px;
    height: 2px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,.10196078431372549);
    border-right: 1px solid rgba(0,0,0,.10196078431372549);
    border-top: 1px solid rgba(0,0,0,.10196078431372549);
    border-bottom: 1px solid rgba(0,0,0,.10196078431372549);
    display: flex;
    margin-left: 39px;
    margin-top: 25px;
    width: 851px;
    height: 1217px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 606px;
    margin-top: 25px;
    width: 199px;
    height: 34px;
    align-items: stretch
  }
  .style3 {
    background-color: #024e5b;
    display: flex;
    margin-left: 0;
    width: 34px;
    align-items: stretch;
    flex-direction: column
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tunn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 17px
  }
  .style5 {
    color: rgba(0,0,0,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: 1.2266666666666666em;
    margin-left: 12px
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 71px;
    width: 611px;
    height: 329px;
    align-items: flex-end;
    align-self: center
  }
  .style15 {
    background-color: #c0d5e7;
    margin-left: 0;
    width: 64px;
    height: 100%
  }
  .style13,
  .style14,
  .style16 {
    background-color: #5870d6;
    margin-left: 5px;
    width: 64px;
    height: 248px
  }
  .style13,
  .style14 {
    background-color: #c0d5e7;
    margin-left: 105px
  }
  .style14 {
    background-color: #5870d6;
    margin-left: 5px;
    height: 100%
  }
  .style11,
  .style12 {
    background-color: #c0d5e7;
    margin-left: 108px;
    width: 64px;
    height: 285px
  }
  .style11 {
    background-color: #354590;
    margin-left: 5px;
    height: 213px
  }
  .iphone6781container0row3,
  .style2 {
    position: relative;
    align-self: center
  }
  .style2 {
    background-color: #dcdde1;
    margin-top: 0;
    width: 753px;
    height: 2px
  }
  .iphone6781container0row3 {
    display: flex;
    margin-top: 5px;
    width: 724px;
    height: 22px;
    align-items: stretch
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tv58.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 0;
    width: 12px;
    flex-shrink: 0
  }
  .style6,
  .style7,
  .style8 {
    color: rgba(34,34,34,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: 1.0733333333333333em;
    letter-spacing: -123px;
    margin-left: 101px;
    flex-shrink: 0
  }
  .style7,
  .style8 {
    margin-left: 223px
  }
  .style8 {
    margin-left: 236px
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tvm3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 110px;
    width: 12px;
    flex-shrink: 0
  }
  .style1 {
    background-color: #d5d5d5;
    margin-top: 123px;
    width: 631px;
    height: 2px;
    align-self: center
  }
  .style17 {
    color: rgba(0,0,0,.4000000059604645);
    font-family: segoeui,serif;
    font-size: 1.38em;
    margin-left: 93px;
    margin-top: 81px;
    height: 25px
  }
  .iphone6781container0row6 {
    display: flex;
    margin-top: 54px;
    width: 682px;
    height: 397px;
    align-items: stretch;
    align-self: center
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46txij.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 34px
  }
  .style18 {
    background-color: #f5f6fb;
    border-left: 1px solid #dcdde1;
    border-right: 1px solid #dcdde1;
    border-top: 1px solid #dcdde1;
    border-bottom: 1px solid #dcdde1;
    display: flex;
    margin-left: 25px;
    width: 623px;
    align-items: stretch;
    flex-direction: column
  }
  .style19,
  .style21 {
    background-color: #dcdde1;
    margin-top: 74px;
    height: 2px
  }
  .style23,
  .style24 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style24 {
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46twkk.png);
    margin-top: 56px;
    height: 98px
  }
  .style23 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tw3r.png);
    margin-top: 12px;
    height: 74px
  }
  .style22 {
    background-color: #dcdde1;
    margin-top: 5px;
    width: 100%;
    height: 2px
  }
  .style25 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tx17.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 5px;
    width: 456px;
    height: 49px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #354590;
    border-right: 1px solid #354590;
    border-top: 1px solid #354590;
    border-bottom: 1px solid #354590;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    width: 15px;
    height: 15px;
    flex-shrink: 0
  }
  .style20 {
    background-color: #dcdde1;
    margin-top: 7px;
    height: 2px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-color: #fff;
    border-left: 1px solid rgba(0,0,0,.10196078431372549);
    border-right: 1px solid rgba(0,0,0,.10196078431372549);
    border-top: 1px solid rgba(0,0,0,.10196078431372549);
    border-bottom: 1px solid rgba(0,0,0,.10196078431372549);
    display: flex;
    margin-left: 51px;
    margin-top: 32px;
    width: 1110px;
    height: 1587px;
    flex-direction: column
  }
  .iphone6781container0row0 {
    display: flex;
    margin-left: 790px;
    margin-top: 32px;
    width: 259px;
    height: 45px;
    align-items: stretch
  }
  .style3 {
    background-color: #024e5b;
    display: flex;
    margin-left: 0;
    width: 45px;
    align-items: stretch;
    flex-direction: column
  }
  .style4 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tunn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    height: 22px
  }
  .style5 {
    color: rgba(0,0,0,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: 1.6em;
    margin-left: 16px
  }
  .iphone6781container0row1 {
    display: flex;
    margin-top: 93px;
    width: 797px;
    height: 429px;
    align-items: flex-end;
    align-self: center
  }
  .style15 {
    background-color: #c0d5e7;
    margin-left: 0;
    width: 83px;
    height: 100%
  }
  .style13,
  .style14,
  .style16 {
    background-color: #5870d6;
    margin-left: 6px;
    width: 83px;
    height: 323px
  }
  .style13,
  .style14 {
    background-color: #c0d5e7;
    margin-left: 138px
  }
  .style14 {
    background-color: #5870d6;
    margin-left: 6px;
    height: 100%
  }
  .style11,
  .style12 {
    background-color: #c0d5e7;
    margin-left: 141px;
    width: 83px;
    height: 371px
  }
  .style11 {
    background-color: #354590;
    margin-left: 6px;
    height: 278px
  }
  .iphone6781container0row3,
  .style2 {
    position: relative;
    align-self: center
  }
  .style2 {
    background-color: #dcdde1;
    margin-top: 0;
    width: 982px;
    height: 3px
  }
  .iphone6781container0row3 {
    display: flex;
    margin-top: 6px;
    width: 944px;
    height: 29px;
    align-items: stretch
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tv58.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 0;
    width: 16px;
    flex-shrink: 0
  }
  .style6,
  .style7,
  .style8 {
    color: rgba(34,34,34,.9019607901573181);
    font-family: malgungothic,serif;
    font-size: 1.4000000000000001em;
    letter-spacing: -160px;
    margin-left: 131px;
    flex-shrink: 0
  }
  .style7,
  .style8 {
    margin-left: 291px
  }
  .style8 {
    margin-left: 307px
  }
  .style10 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tvm3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    margin-left: 144px;
    width: 16px;
    flex-shrink: 0
  }
  .style1 {
    background-color: #d5d5d5;
    margin-top: 160px;
    width: 822px;
    height: 3px;
    align-self: center
  }
  .style17 {
    color: rgba(0,0,0,.4000000059604645);
    font-family: segoeui,serif;
    font-size: 1.8em;
    margin-left: 122px;
    margin-top: 106px;
    height: 32px
  }
  .iphone6781container0row6 {
    display: flex;
    margin-top: 70px;
    width: 890px;
    height: 518px;
    align-items: stretch;
    align-self: center
  }
  .style27 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46txij.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    margin-left: 0;
    width: 45px
  }
  .style18 {
    background-color: #f5f6fb;
    border-left: 1px solid #dcdde1;
    border-right: 1px solid #dcdde1;
    border-top: 1px solid #dcdde1;
    border-bottom: 1px solid #dcdde1;
    display: flex;
    margin-left: 32px;
    width: 813px;
    align-items: stretch;
    flex-direction: column
  }
  .style19,
  .style21 {
    background-color: #dcdde1;
    margin-top: 96px;
    height: 3px
  }
  .style23,
  .style24 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style24 {
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46twkk.png);
    margin-top: 74px;
    height: 128px
  }
  .style23 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tw3r.png);
    margin-top: 16px;
    height: 96px
  }
  .style22 {
    background-color: #dcdde1;
    margin-top: 6px;
    width: 100%;
    height: 3px
  }
  .style25 {
    background-image: url(https://designresources.assets.yotako.io/9lcadgdjo46tx17.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-top: 6px;
    width: 595px;
    height: 64px;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center
  }
  .style26 {
    background-color: #fff;
    border-left: 1px solid #354590;
    border-right: 1px solid #354590;
    border-top: 1px solid #354590;
    border-bottom: 1px solid #354590;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    width: 19px;
    height: 19px;
    flex-shrink: 0
  }
  .style20 {
    background-color: #dcdde1;
    margin-top: 10px;
    height: 3px
  }
}